.Contact{
    background: #f1f1f1;
    padding-bottom: 80px;
}

.title {
    font-size: 70px;
    margin-left: 30px;
    margin-bottom: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
    color: #333;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.zoneOne, .zoneTwo{
    flex:1;
    flex-direction: column;
    margin-left: 80px;
}

.inputName, .inputEmail, .inputMessage{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 400px;
}

.zoneTwo input{
    height: 32px;
    margin-top: 5px;
}

.inputMessage input{
    height:160px;
}

.submitButton button{
    background-color: #3883f6;
    color: white;
    font-size: 15px;
    padding: 5px 40px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.zoneOne{
    justify-content: space-between;
    padding-bottom: 20px;
}

.icons{
    display: flex;
    flex-direction: column;
}

.paddZero{
    margin-top: 0px;
    direction: ltr;
    margin-left: 20px;
}
.iconsContent{
    display: flex;
    margin-top: 5%;
}
.iconsContent li p{
    padding-top: 0%;
}
.msgContent{
    height: 20vh;
}

